header {
    padding-top: 10px;
}

header img {
    width: 188px;
}

header nav {
    display: flex;
    justify-content: space-between;
    font-family: "TripSans";
    font-size: 16px;
}

header nav>div {
    display: flex;
}

header nav>div>:not(:last-child) {
    font-weight: bold;


    margin: 6px 16px;
}

button {
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    font-family: "TripSans";
    font-size: 16px;
    font-weight: 500;
    padding: 10px 16px;
    box-sizing: border-box;
    height: 40px
}

i {
    padding: 5px;
}

/*---TITLE--*/


h1 {
    margin-top: 50px;
    font-family: "TripSans";
    font-weight: 900;
    font-size: 54px;
    letter-spacing: 1.1px;
}

.red {
    color: #FF5d5d;
}


/*  top nav */
.nav-top {
    display: flex;
    margin: 10px 0px;
    font-family: "TripSans";
    font-weight: bold;
}

.nav-top div {
    display: flex;
    justify-content: space-between;
    flex: 1;
    border: solid 1px #000000;
    border-radius: 10px;
    height: 68px;
    padding: 10px;
    box-sizing: border-box;
}

.nav-top div:not(:last-child) {
    margin-right: 10px;
}

.nav-top i {
    margin-left: 5px
}

.nav-top span {
    padding-top: 5px;
    padding-left: 5px;
}

/* PICTURES */

.pictures {

    overflow: hidden;
    display: flex;
    box-sizing: border-box;

}

.pictures div {
    display: flex;
    flex-direction: column;
}

/* NAV BOTTOM */

.nav-bottom {
    padding: 10px 0px;
    display: flex;
    font-size: 12px;
    color: #333333;
}

.nav-bottom div:not(:last-child) {
    display: flex;
    margin-right: 15px;
    justify-content: space-between;
}


/* SECTION */

section {
    display: flex;
    justify-content: space-between;
}

section h2 {
    font-family: "TripSans";
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}

section h3 {
    font-family: "TripSans";
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

section p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #333333;
    margin-bottom: 10px;
}

#left {
    width: 48%;
}



#right {
    width: 35%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

#right p {
    font-size: 15px;
    padding-right: 25px;
}

#right button {
    margin-top: 10px;
    font-size: 12px;
}

#right div {
    background-color: #FF5d5d;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
    padding: 35px 0px 0px 25px;
}

#right img {
    height: 40%;
    object-fit: cover;
    border-radius: 0px 0px 10px 10px;
}


/*-------------------------*/
.container {
    width: 1136px;
    margin: 0px auto;
}